@charset "UTF-8";



/*  footer
--------------------------------*/
footer{
    padding: 80px 0;
}
footer h1{
    margin: 0 auto 64px;
    width: 75px;
}
footer h1 img{
    width: 100%;
    height: auto;
}
footer nav{
    margin-bottom: 64px;
}
.footer-nav-global{
    display: flex;
    justify-content: space-between;
    width: 265px;
    margin: 0 auto 24px;
}
.footer-nav-global a{
    font-size: 14px;
}
.footer-nav-sns{
    display: flex;
    justify-content: space-between;
    width: 68px;
    margin: 0 auto;
}
footer address{
    text-align: center;
    margin-bottom: 64px;
}
footer address p:nth-of-type(1){
    margin-bottom: 24px;
}
footer small{
    display: block;
    text-align: center;
    font-size: 11px;
    font-family: "Montserrat";
}